nav {
    background-color: #0f57a1;
}

nav a {
    color: whitesmoke;
}

.container h2 {
    color: #f99023;
}

#quiz-img {
    width: 150px;
    min-width: 100px;
    max-width: 300px;
}

h6 {
    font-size: large;
}